/phpunit.xml
/vendor/
/Tests/Model/Base/
/Tests/Model/Mapping/
/TestsProject/app/cache/
/TestsProject/app/log/
/TestsProject/src/Model/Base/
/TestsProject/src/Model/Mapping/
/TestsProject/src/Model/*/Base/